<!DOCTYPE html>
<html>
  <head>
    <title> EM - GENERAL </title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var all_pie = google.visualization.arrayToDataTable([
          ['Category', 'Expense'],
          ['Automobile', {{alltime.Automobile}}],
          ['Entertainment', {{alltime.Entertainment}}],
          ['Family', {{alltime.Family}}],
          ['Food', {{alltime.Food}}],
          ['Insurance', {{alltime.Insurance}}],
          ['Tax', {{alltime.Tax}}],
          ['Travel',{{alltime.Travel}}],
          ['Utilities',{{alltime.Utilities}}]
        ]);

        var all_bar = google.visualization.arrayToDataTable([
        ['Category', 'Expense', {role: 'style'}],
        ['Automobile', {{alltime.Automobile}},'color : #FF3399'],
        ['Entertainment', {{alltime.Entertainment}},'color : #FF8000'],
        ['Family', {{alltime.Family}},'color : #3399FF'],
        ['Food', {{alltime.Food}},'color : #CCCC00'],
        ['Insurance', {{alltime.Insurance}},'color : #009999'],
        ['Tax', {{alltime.Tax}},'color : #000066'],
        ['Travel', {{alltime.Travel}},'color : #FF3333'],
        ['Utilities', {{alltime.Utilities}},'color : #006600']        
      ]);

        var month_pie = google.visualization.arrayToDataTable([
          ['Category', 'Expense'],
          ['Automobile', {{lastmonth.Automobile}}],
          ['Entertainment', {{lastmonth.Entertainment}}],
          ['Family', {{lastmonth.Family}}],
          ['Food', {{lastmonth.Food}}],
          ['Insurance', {{lastmonth.Insurance}}],
          ['Tax', {{lastmonth.Tax}}],
          ['Travel',{{lastmonth.Travel}}],
          ['Utilities',{{lastmonth.Utilities}}]
        ]);

        var month_bar = google.visualization.arrayToDataTable([
        ['Data', 'value', {role: 'style'}],
        ['Automobile', {{lastmonth.Automobile}},'color : #FF3399'],
        ['Entertainment', {{lastmonth.Entertainment}},'color : #FF8000'],
        ['Family', {{lastmonth.Family}},'color : #3399FF'],
        ['Food', {{lastmonth.Food}},'color : #CCCC00'],
        ['Insurance', {{lastmonth.Insurance}},'color : #009999'],
        ['Tax', {{lastmonth.Tax}},'color : #000066'],
        ['Travel', {{lastmonth.Travel}},'color : #FF3333'],
        ['Utilities', {{lastmonth.Utilities}},'color : #006600']        
      ]);

        var week_pie = google.visualization.arrayToDataTable([
          ['Category', 'Expense'],
          ['Automobile', {{lastweek.Automobile}}],
          ['Entertainment', {{lastweek.Entertainment}}],
          ['Family', {{lastweek.Family}}],
          ['Food', {{lastweek.Food}}],
          ['Insurance', {{lastweek.Insurance}}],
          ['Tax', {{lastweek.Tax}}],
          ['Travel',{{lastweek.Travel}}],
          ['Utilities',{{lastweek.Utilities}}]
        ]);

        var week_bar = google.visualization.arrayToDataTable([
        ['Category', 'Expense', {role: 'style'}],
        ['Automobile', {{lastweek.Automobile}},'color : #FF3399'],
        ['Entertainment', {{lastweek.Entertainment}},'color : #FF8000'],
        ['Family', {{lastweek.Family}},'color : #3399FF'],
        ['Food', {{lastweek.Food}},'color : #CCCC00'],
        ['Insurance', {{lastweek.Insurance}},'color : #009999'],
        ['Tax', {{lastweek.Tax}},'color : #000066'],
        ['Travel', {{lastweek.Travel}},'color : #FF3333'],
        ['Utilities', {{lastweek.Utilities}},'color : #006600']        
      ]);

        var year_pie = google.visualization.arrayToDataTable([
          ['Category', 'Expense'],
          ['Automobile', {{lastyear.Automobile}}],
          ['Entertainment', {{lastyear.Entertainment}}],
          ['Family', {{lastyear.Family}}],
          ['Food', {{lastyear.Food}}],
          ['Insurance', {{lastyear.Insurance}}],
          ['Tax', {{lastyear.Tax}}],
          ['Travel',{{lastyear.Travel}}],
          ['Utilities',{{lastyear.Utilities}}]
        ]);

        var year_bar = google.visualization.arrayToDataTable([
        ['Category', 'Expense', {role: 'style'}],
        ['Automobile', {{lastyear.Automobile}},'color : #FF3399'],
        ['Entertainment', {{lastyear.Entertainment}},'color : #FF8000'],
        ['Family', {{lastyear.Family}},'color : #3399FF'],
        ['Food', {{lastyear.Food}},'color : #CCCC00'],
        ['Insurance', {{lastyear.Insurance}},'color : #009999'],
        ['Tax', {{lastyear.Tax}},'color : #000066'],
        ['Travel', {{lastyear.Travel}},'color : #FF3333'],
        ['Utilities', {{lastyear.Utilities}},'color : #006600']        
      ]);

        var all_pie_options = {
          title: 'ALL TIME EXPENSES - GENERAL',
          fontName: 'Verdana',
          backgroundColor:{
          strokeWidth: 10,
          fill:'#F5DEB3',
          stroke:'brown'},
          fontSize: 20,
          is3D:true,          
          legend: {position: 'RIGHT', textStyle: {fontSize:15, fontName:'Consolas', bold:true}, alignment: 'start' },
          pieSliceTextStyle:{color: 'white', fontName: 'consolas', fontSize: 12},
          colors:['FF3399','FF8000','3399FF','CCCC00','009999','000066','FF3333','006600']
        };

        var month_pie_options = {
          title: 'LAST MONTH EXPENSES - GENERAL',
          fontName: 'Verdana',
          backgroundColor:{
          strokeWidth: 10,
          fill:'#F5DEB3',
          stroke:'brown'},
          fontSize: 20,
          is3D:true,          
          legend: {position: 'RIGHT', textStyle: {fontSize:15, fontName:'Consolas', bold:true}, alignment: 'start' },
          pieSliceTextStyle:{color: 'white', fontName: 'consolas', fontSize: 12},
          colors:['FF3399','FF8000','3399FF','CCCC00','009999','000066','FF3333','006600']
        };

        var all_bar_options = {
        title: 'ALL TIME EXPENSES - GENERAL',
        titleTextStyle:{
        fontName:'Verdana',
        fontSize:20,},
        fontName:'consolas',
        fontSize:15,
        vAxis:{minValue:0},        
        legend:{ position: "none" },
        backgroundColor:{
          strokeWidth: 10,
          fill:'#FFF8DC',
          stroke:'#DAA520'},
        };

        var month_bar_options = {
        title: 'LAST MONTH EXPENSES - GENERAL',
        titleTextStyle:{
        fontName:'Verdana',
        fontSize:20,},
        fontName:'consolas',
        fontSize:15,
        vAxis:{minValue:0},        
        legend:{ position: "none" },
        backgroundColor:{
          strokeWidth: 10,
          fill:'#FFF8DC',
          stroke:'#DAA520'},
        };

        var year_pie_options = {
          title: 'LAST YEAR EXPENSES - GENERAL',
          fontName: 'Verdana',
          backgroundColor:{
          strokeWidth: 10,
          fill:'#F5DEB3',
          stroke:'brown'},
          fontSize: 20,
          is3D:true,          
          legend: {position: 'RIGHT', textStyle: {fontSize:15, fontName:'Consolas', bold:true}, alignment: 'start' },
          pieSliceTextStyle:{color: 'white', fontName: 'consolas', fontSize: 12},
          colors:['FF3399','FF8000','3399FF','CCCC00','009999','000066','FF3333','006600']
        };

        var year_bar_options = {
        title: 'LAST YEAR EXPENSES - GENERAL',
        titleTextStyle:{
        fontName:'Verdana',
        fontSize:20,},
        fontName:'consolas',
        fontSize:15,
        vAxis:{minValue:0},        
        legend:{ position: "none" },
        backgroundColor:{
          strokeWidth: 10,
          fill:'#FFF8DC',
          stroke:'#DAA520'},
        };

        var week_pie_options = {
          title: 'LAST WEEK EXPENSES - GENERAL',
          fontName: 'Verdana',
          backgroundColor:{
          strokeWidth: 10,
          fill:'#F5DEB3',
          stroke:'brown'},
          fontSize: 20,
          is3D:true,          
          legend: {position: 'RIGHT', textStyle: {fontSize:15, fontName:'Consolas', bold:true}, alignment: 'start' },
          pieSliceTextStyle:{color: 'white', fontName: 'consolas', fontSize: 12},
          colors:['FF3399','FF8000','3399FF','CCCC00','009999','000066','FF3333','006600']
        };

        var week_bar_options = {
        title: 'LAST WEEK EXPENSES - GENERAL',
        titleTextStyle:{
        fontName:'Verdana',
        fontSize:20,},
        fontName:'consolas',
        fontSize:15,
        vAxis:{minValue:0},        
        legend:{ position: "none" },
        backgroundColor:{
          strokeWidth: 10,
          fill:'#FFF8DC',
          stroke:'#DAA520'},
        };

        var chart1 = new google.visualization.PieChart(document.getElementById('chart1'));
        chart1.draw(all_pie, all_pie_options);

        var chart2 = new google.visualization.ColumnChart(document.getElementById('chart2'));
        chart2.draw(all_bar, all_bar_options);

        var chart3 = new google.visualization.PieChart(document.getElementById('chart3'));
        chart3.draw(month_pie, month_pie_options);

        var chart4 = new google.visualization.ColumnChart(document.getElementById('chart4'));
        chart4.draw(month_bar, month_bar_options);

        var chart5 = new google.visualization.PieChart(document.getElementById('chart5'));
        chart5.draw(year_pie, year_pie_options);

        var chart6 = new google.visualization.ColumnChart(document.getElementById('chart6'));
        chart6.draw(year_bar, year_bar_options);

        var chart7 = new google.visualization.PieChart(document.getElementById('chart7'));
        chart7.draw(week_pie, week_pie_options);

        var chart8 = new google.visualization.ColumnChart(document.getElementById('chart8'));
        chart8.draw(week_bar, week_bar_options);
      
      }

      </script>
    <style>
    .container {
        width: 96%;
        border: 5px solid rgb(60,60,115);
        border-radius: .5em;
        padding: 10px;
        display: flex;
        margin: 1em;}
    </style>
</head>
<body style="font-size: 35px;  font-family: consolas;  background-color: azure;">
  <h1 style='text-indent: 15%;'> ALL EXPENSES</h1>
  
  <h4 style="color: firebrick; text-indent: 15%; font-family: consolas">Position cursor over graphics !</h4>
    <div class='container'>
        <div id="chart1" style="width: 50%; height: 400px;"></div>
        <div id="chart2" style="width: 50%; height: 400px;"></div>
    </div>
    <br> 
    <div class='container'>
        <div id="chart3" style="width: 50%; height: 400px;"></div>
        <div id="chart4" style="width: 50%; height: 400px;"></div>
    </div>
    <br> 
    <div class='container'>
        <div id="chart5" style="width: 50%; height: 400px;"></div>
        <div id="chart6" style="width: 50%; height: 400px;"></div>
    </div>
    <br> 
    <div class='container'>
        <div id="chart7" style="width: 50%; height: 400px;"></div>
        <div id="chart8" style="width: 50%; height: 400px;"></div>
    </div>
    <br>
    <div class='container' style="background-color: #FF3399">
      <button onclick="document.location ='http://localhost:8000/'" title='Home Page' style="font-size: 35px;  font-family: consolas;  width: 32%; position: relative; left: 34%"> Back to Home Page </button>
    </div>   
    <div class='container' style="background-color: #FF3399">
      <button onclick="document.location ='http://localhost:8000/logout'" title='LOGOUT' style="font-size: 35px;  font-family: consolas;  width: 32%; position: relative; left: 34%"> LOGOUT </button>
    </div> 
  </body>
</html>