<!DOCTYPE html>
<html lang="en">
<head>
  
<title>Images</title>

    <style type="text/css">
        .container {
        width: 94%;
        border: 5px solid white;
        border-radius: .5em;
        padding: 10px;
        display: flex;
        margin: 1em;
        background-color: #FF3399}
    </style>
</head> 
<body style="font-size: 35px;  font-family: consolas;  background-color: #F5DEB3;">
<h1> View uploaded Receipts</h1>
{% for obj in receipt_images %} 
        <div align=center> {{ obj.name }} </div>
        <div class = 'container' align=center>                
            <img src="{{ obj.img.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" > 
        </div> <br>
    {% endfor %} 
    
<div class='container' style="background-color: #FF3399">
      <button onclick="document.location ='http://localhost:8000'" title='HOME_PAGE' style="font-size: 35px;  font-family: consolas;  width: 32%; position: relative; left: 34%"> HOME </button>
</div>
<div class='container' style="background-color: #FF3399">
      <button onclick="document.location ='http://localhost:8000/logout'" title='LOGOUT' style="font-size: 35px;  font-family: consolas;  width: 32%; position: relative; left: 34%"> LOGOUT </button>
</div>  
</body> 
</html>