<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Image</title> 
</head> 
<style type="text/css">
        .container {
        width: 94%;
        border: 5px solid firebrick;
        border-radius: .5em;
        padding: 10px;
        display: flex;
        margin: 1em;}
    </style>
<body style="font-size:30px;  font-family: consolas;  background-color: #F5DEB3;">
    <h1  style="color:navy;"> Upload Receipts </h1>
    {% if user.is_authenticated %}
    <form method='POST' enctype="multipart/form-data">
    {% csrf_token %} 
    <div class = 'container'><li><label for="name">Name of Image:</label>
    <input type="text" name="name" value=" {{ default }} " maxlength="20" required id="id_name" style="font-size:30px;  font-family: consolas;position: absolute; right:100px;">
    <input type="hidden" name="initial-name" value=" {{ default }} " id="initial-id_name"></li></div>
    <div class = 'container'><li><label for="id_img">Image File:</label> 
    <input type="file" name="img" accept="image/*" required id="id_img" style="font-size:30px;  font-family: consolas;position: absolute; right:100px;"></li></div>
    <div class = 'container'><button type='submit' style="font-size: 35px;  font-family: consolas;  width: 40%; position: relative;left:29%;">  Submit </button></div>
    </form>
    {% endif %}
</div> 
<div class='container' style="background-color: #FF3399">
      <button onclick="document.location ='{% url 'logout' %}'" title='LOGOUT' style="font-size: 35px;  font-family: consolas;  width: 32%; position: relative; left: 34%"> LOGOUT </button>
    </div>
</body> 
</html>
